html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #fcfcfc;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  height: auto;
  min-height: 64rem;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 70px;
  background-image: url("../images/graphic_design/landing_bg.jpg");
  flex-direction: column;
  background-position: 0px 0px, 100%, 50%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header-background-sites {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  height: auto;
  min-height: 64rem;
  padding-top: 0;
  padding-bottom: 70px;
  flex-direction: column;
  background-position: 0px 0px, 100%, 50%;
  background-color: #14192d;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header-sites {
  height: 100px;
  background-color: #14192d;
}

.navbar-pages {
  height: 128px;
  width: 100%;
  background-color: #14192d; 
}

.text-nav {
  padding-right: .5rem;
  padding-left: .5rem;
}

.dropdown-item {
  font-size: 1.1rem;
  padding-top: .4rem !important;
  padding-bottom: .4rem !important;
}

.text-nav:hover {
    opacity: 1.9;
    transition: all .1s ease;
    transform: scale(1.05);
}



.navbar-collapse {
   transition-duration: 0s;
}

.navbar-collapse.show{
  background-color: #14192d !important;
}





nav {
    height: 69px;
    width: 100%;
    /*background: linear-gradient(to bottom, #000, #0003 70%,#0000); !* background when scroll is in the top *!*/
    transition: background .5s; /* control how smooth the background changes */
    /*transition: color .5s;*/
}

.bg-dark {
  background:transparent !important;
}

.page-header {
  font-size: 1.25rem;
  margin-left: 0;
}

.background-image {
  height: 5%;
}

.login-bar {
  padding-right: 1rem;
  padding-top: .25rem;
}

.cst-login {
  padding-right: .25rem;
  
}

.login-link {
  font-size: 1.2rem;
  color: #aaaaaa;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.login-link:hover {
  color: #cccccc;
}

.navbar {
  padding-top: 0;
  margin-top: 2.5rem;
  position: fixed;
  transition: 1s;
}

.btn-nav {
  position: absolute;
  left: 4%;
  top: 10%;
  display: none;

}

.navbar.scrolled {
  background-color: #14192d !important;
  transition: background-color 200ms linear;
  overflow: visible;
  margin-top: 0;
  padding-top: 1rem;
  height: 120px;
}



.navbar.scrolledbtn .btn-nav {
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.1rem;
    transition: background-color 0.3s ease;
}


.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.navbar-nav > li > .dropdown-menu {
  background-color: #141a1d;
  color: #fff !important;
}

.dropdown-menu a{
  color: #FFFFFF !important;
}

.dropdown-menu.show {
  left: 18px;
  top: 44.18px;
  margin-top: 0;
  background-color: #141a1d !important;
}

.dropdown-menu a:hover{
  color: #000 !important;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu{
  margin-top: 0;
}

.nav-link:active{
  color:red;
}


.page-header {
  padding-top: 10rem;
}

.landing-image-section {
  margin-top: 4rem;
}

.header-text {
  padding-top: 2rem;
  color: white;
}

.header-paragraph {
  padding-top: 1.25rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.header-img {
  padding-left: 4rem;
}

.header-buttons {
  padding-top: 1rem;
}

.services-list {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 6rem;
}

.left-landing-image {
  padding-right: 0;
  padding-top: 1rem;
}

.middle-landing-image {
  padding-top: 6rem;
  padding-left: 0;
}

.right-landing-image {
  padding-top: 1rem;
}

.btn {
  border: none;
  padding: .6rem;
  margin: 1.25rem;
  font-weight: 600;
}

.how-btn {
  padding-right: .8rem;
  padding-left: .8rem;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.stay-btn:hover {
   color: #000 !important;
   background-color: red !important;
   outline: none !important;
   box-shadow: none;
}

.stay-btn {
  color: #000;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.landing-building {
  position: relative;
  left: 17%;
  top: -38%;
}

.landing-projmgmt {
  position: relative;
  left: -32%;
  top: -230%;
}

.landing-servers {
  position: relative;
  left: 10%;
  top: -370%;
}

.landing-cloud {
  position: relative;
  left: -32%;
  top: -382%;

}

.landing-security {
  position: relative;
  left: 12%;
  top: -480%;
}

.services-buttons{
  padding-top: .5rem;
}

.services-btn {
  border: none;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.cyber-header {
  padding-top: 1.2rem;
}

.cyber-paragraph {
  padding: .5rem 2rem 1.5rem;
}

.managed-header {
  padding-top: 1.2rem;
}

.managed-paragraph {
  padding: .5rem 2rem 0;
}

.cloud-header {
  padding-top: 1.2rem;
}


.cloud-paragraph {
  padding: .5rem 2rem 0;
}

.project-header {
  padding-top: 1.2rem;
}

.project-paragraph {
  padding: .5rem 2rem 0;
}

.why-partner {
  /** TEMPORARY CANGE background-color: #F5F5F5; **/
  background-color: #EEEEEE;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 5rem;
}

.compliance-header {
  padding-top: 1.2rem;
}

.compliance-paragraph {
  padding: .5rem 2rem 1.45rem;
}

.stay-informed {
  /* background-color: #F5F5F5; */
  background: -webkit-linear-gradient(left, #8f8e8e, #e6e4e4);
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 2%;
}

.informed-h4 {
  margin-top: 2rem;
}

.informed-p1 {
  margin-top: 4rem;
}

.tech-partners {
  background-color: #F5F5F5;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #eeeeee;
}



.angle--top-left {
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%);
}

@supports not ((-webkit-clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%)) or (clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% 100%, 0 100%))) {
  .angle--top-left::before, .angle--top-left::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 10;
    display: block;
    border-style: solid;
  }
  .angle--top-left::before {
    top: 0;
    border-width: 8vw 100vw 0 0;
    border-color: #fff transparent transparent transparent;
  }
}

.angle--top-right {
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%);
}

@supports not ((-webkit-clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%)) or (clip-path: polygon(0 0, 100% calc(0% + 7vw), 100% 100%, 0 100%))) {
  .angle--top-right::before, .angle--top-right::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 10;
    display: block;
    border-style: solid;
  }
  .angle--top-right::before {
    top: 0;
    border-width: 8vw 0 0 100vw;
    border-color: #fff transparent transparent transparent;
  }
}

.angle--bottom-left {
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
}

@supports not ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw))) or (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw)))) {
  .angle--bottom-left::before, .angle--bottom-left::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 10;
    display: block;
    border-style: solid;
  }
  .angle--bottom-left::after {
    bottom: 0;
    border-width: 0 100vw 8vw 0;
    border-color: transparent transparent #fff transparent;
  }
}

.angle__content {
  display: block;
  width: 100%;
  height: 450px;
}

.angle--colour {
  color: #fff;
  background-color: #2196F3;
  text-align: center;
  padding: 10% 0;
}


.parallax {
  /* The image used */
  background-image: url("../images/servers_main.jpg");

  /* Set a specific height */
  min-height: 500px;

}

.partners {
  /* background-color: #F5F5F5;*/
  background: -webkit-linear-gradient(left, #8f8e8e, #e6e4e4);
  margin-top: 0;
}

.partners-container {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  width: 676px;
  height: 248px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
}

.partners-container-small {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  width: 100%;
  height: 300px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
}


.partners-background {
  display: block;
  width: 100%;
  height: 450px;
  background-position: center;
  background-image: url("../images/graphic_design/cloud_01.jpg");
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tech-partners-background {
  display: block;
  width: 100%;
  height: 360px;
  background-color: #14192d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


/*********************************************************************/
/* Bootstrap 4 Multiple Item Carousel */
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
  }
}

/* large - display 3 */
@media (min-width: 992px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(33%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.blog-main {
  background-color: #F5F5F5;
  height: 500px;
  width: 100%;
}

.contact-us-main {
  background-color: #F5F5F5;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.background-image-bottom {
  display: block;
  width: 100%;
  height: 300px;
  background-position: center;
  background-image: url("../images/office01.png");
  opacity: 0.3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.main-footer {
  background-color: #2d2d2d;
  height: 100%;
  width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.footer-row {
  padding-bottom: 2rem;
}

.fade-effect1{
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#dddddd), to(#2d2d2d));
}



.san {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}
.san:before, .san:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;

}
.san:before {
  margin-right:10px;

}
.san:after {
  margin-left:10px;

}

.contact-method {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #fff;
}

.email {
  padding-top: 1.5rem;
}

.footer-links {
  color: #cccccc;
}

.services-footer-spacing {
  margin-bottom: 1rem;
}

.services-footer {
  color: #999999
}

.social-media {
  padding-top: 1rem;
}


.social-media-icons {
  margin-left: .25rem;
  margin-right: .25rem;
}

.rights {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #F5F5F5;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-right{
  background: #e6e4e4;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register .register-form{
  padding: 2% 10% 4%;
  margin-top: 2% 10% 10%;
}

.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.form-input{
  padding-top: 1rem;
}

.submit-informed {
  border: none;
  border-radius: 1.5rem;
  padding: 1.25%;
  width: 40%;
  font-weight: bold;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: #194f79 !important;
}


input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  background:white;
  border-radius:5px;
  border:1.5px solid #777;
}

input[type='checkbox']:checked {
  background: #194f79;
}


.services-site-header {
  background-color: #EEEEEE;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  top: 240px;
  height: 100%;
}

.cybersecurity-site-body {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 18px;
  height: 100%;
}

.cyber-p1-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; 

}

.cyber-p1 {
  padding: 2rem 1.5rem 0;
}

.cyber-p2 {
  padding: 2rem 1rem 1rem;
}

.services-site-container1 {
  padding: 2rem 4rem 2rem;
  background-color: #fff;
}

.services-site-container2 {
  background-color: #14192d;
  padding-bottom: 120px;
  padding-top: 50px;
  height: 100%;
}

.services-site-container3 {
  background-color: #eee;
  padding: 2rem 4rem 2rem;
  height: 100%;
}

.services-bottom-white{
  background-color: #fff;
  height: 100%;
}

.cybersecurity-site-how {
  background-color: #14192d;
  padding-bottom: 120px;
  padding-top: 50px;
  height: 100%;
}

.services-h3-white {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2rem;
}

.services-h3-black {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.cyber-how-container {
  background-color: #fff;
  border-radius:10px;
  height: 400px;
  padding: 1rem 5px 1rem;
}

.cyber-wait-container {
  height: 100%;
  background-color: #eee;
}

.cyber-wait-header {
  color: #2d2d2d;
  padding-top: 2rem;
}

.cyber-how-container:hover {
  background-color: #eeeeee;
}

.cyber-img {
  border-radius:10px;
  width: 80%;
  height: 100%;
}

.managed-it-paragraph {
  padding: 1rem 10% 1rem;
}

.managed-it-container {
  background-color: #fff;
  border-radius:10px;
  padding-top: 1rem;
}

.managed-it-container:hover {
  background-color: #eee;
}

.manage-it-fully {
  font-size: 2rem;
}

.managed-wtm {
  padding-top: 3rem;
}

.managed-wtm-container {
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.managed-wtm-container-lg {
  padding: 1rem 10% 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.bullet{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bullet:hover {
  color: #555
}

.cloud-container-lg {
  padding: 1rem 10% 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.cloud-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.cloud-h1 {
  padding-top: 1rem;
}

.fully-managed-img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.co-managed-img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.cloud-img {
  width: 80%;
  height: auto;
  border-radius: 1000px;
}

.cloud-img2 {
  width: 95%;
  height: auto;
  border-radius: 15px;
}

.cloud-b {
  position: relative;
}

.cb1 {
  left: -15%;
}

.cb2 {
  left: -7.5%;
}

.proj-img1 {
  width: 100%;
  overflow: hidden;
}

.proj-container-train {
  padding-bottom: 2rem;
}

.train-bullet {
  padding: 0 12% 0;
}

.icon-pad {
  padding-bottom: 1rem;
}

.project-p2 {
  padding: 2rem 1rem 1rem;
}

.project-how-container {
  background-color: #fff;
  border-radius:10px;
  height: 400px;
  padding: 1rem 5px 1rem;
}

.project-how-container:hover {
  background-color: #eeeeee;
}

.carousel-size {
  width: 195px;
  height: 100px;
}

.about-us-header {
    /* background-color: #F5F5F5;*/
    background: -webkit-linear-gradient(left, #c9c9c9, #eeefff);
    margin-top: 0;
}

.about-us-header-background {
  display: block;
  width: 100%;
  height: 360px;
  background-position:center;
  background-image: url("../images/downtown-chi2.jpg");
  opacity: 0.85;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-us-header-background-small {
  display: block;
  width: 100%;
  height: 250px;
  background-position: center;
  background-image: url("../images/downtown-chi2.jpg");
  opacity: 0.85;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-us-header-container {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 280px;
  height: 120px;
  position: relative;
  padding: 2rem 3.5rem;
  border-radius: 6px;
}

.about-us-header-container-small {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 50%;
  height: 120px;
  position: relative;
  padding: 8%;
  border-radius: 6px;
}

.about-us-container {
  background: -webkit-linear-gradient(left, #c9c9c9, #eeeeee);
  padding-bottom: 25px;
  height: 100%;
  position: relative;
  top: -100px;
}

.about-us-h3 {
  color: #194f79;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.fade-effect-about{
  display:block;
  border:none;
  color:white;
  height:1px;
  width: 20%;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#194f79), to(#fff));
}


.about-us-top {
  padding: 0 5% 0;
}

.about-us-p {
  padding: 2rem .5rem  0;
  font-size: 1.15rem;
}

.about-us-utd {
  padding: 5rem 5% 0;
}

.about-us-certs {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  top: -50px;
  height: 100%;
  padding: 1rem 2% 2rem;
}

.services-bottom-blue{
  background-color: #14192d;
  color: #fff;
  height: 124px;
  position: relative;
  top: -100px;
}

.about-wait-header {
  color: #fff;
  padding-top: 2rem;
}

.careers-statement {
  padding-top: 1rem;
  font-size: 1.25rem;
}

.careers-open{
  padding-top: 4rem;
}

.line{
  margin-top: 1rem;
  width: 5%;
  height: 1px;
  background-color: #194f79;
  border: 1px solid #194f79;

  }